<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <table class="table-bordered m-4">
        <input placeholder="search" type="text" [(ngModel)]="searchByValue" />
        <thead>
          <tr>
            <th>Country</th>
            <th>No.OF players</th>
            <th>runs</th>
            <th>Captain</th>
            <th>year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of odiMatches | filter : searchByValue">
            <td>{{ data.country }}</td>
            <td>{{ data.noOfPlayers }}</td>
            <td>{{ data.runs }}</td>
            <td>{{ data.captain }}</td>
            <td>{{ data.noOfPlayers }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
